{% extends "floor.html" %}

{% block title %} Crazy Dictionary {% endblock %}

{% block content %}

<div class="container" style="width: 80%">
    <h2 class="mt-4">{{ title }}</h2>
    <div class="list-group list-group-flush mt-3">
        {% if searched in listed %}
            <a href="{{ url_for('dictionary', word=searched) }}" 
            class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between align-items-start"> {{ searched }}
            </a>
        {% endif %}
        {% for item in listed if item != searched %}
        <a href="{{ url_for('dictionary', word=item) }}" class="list-group-item list-group-item-action"> {{ item }} </a>
        {% endfor %}
        {% if searched and searched not in listed %}
            <a href="{{ url_for('dictionary', word=searched) }}"
            class="list-group-item list-group-item-action list-group-item-warning d-flex justify-content-between align-items-start"> {{ searched }}
                <span class="badge bg-danger rounded-pill">new</span>
            </a>
        {% endif %}
    </div>
</div>

{% endblock %}